.listing_card{
    font-family: sans-serif;
    max-width: 420px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(110, 109, 109);
    border-radius: 10px;
}

.listing_card:hover{
    box-shadow: 2px 2px 15px 2px rgb(187, 184, 184);
    border-radius: 10px;
}
.img{
    width: 190px;
    height: 100%;
}
.card_row{
    display: flex;
    margin: 10px;
    border-radius: 10px;
}
.img img{
    width: 160px;
    height: 180px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.listing_info .types{
   margin-left: 20px;
}

.listing_info .types small{
    margin-left: 2px;
    border-radius: 10px;
    font-size: 10px;
    color: #06d60a;
    background-color:#aefdae ;
    padding: 2px 10px;
}
.listing_info .types .home_type{
    color: #118ab2;
    background-color: #b9e3f1;
}
.listing_info > p{
    color: rgb(141, 133, 133);
    font-size: 12px;
}
.listing_info .card__listinginfo__title{
    font-size: 14px;
    font-weight: 800;
}
.listing_info h3{
    font-weight: 600;
    font-size:14px ;
    color: #06d60a;
}
.listing_info .row{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-right: 10px;
    margin-top: 27px;
}
.card_btn{
    border: none;
    padding:4px;
    border-radius: 10px;
    background-color: #fa133a ;
    color: white;
    font-size: 10px;
    margin-left:10px;
}

@media (max-width:1200px) and (min-width:1000px) and (min-width:767px){
    .listing_card{
        max-width: 280px;
    }
    
    .listing_card:hover{
        box-shadow: 2px 2px 15px 2px rgb(187, 184, 184);
        border-radius: 10px;
    }
    .img{
        width: 100%;
        height: 100%;
    }
    .card_row{
        display: block;
        margin: 10px;
        border-radius: 10px;
    }
    .img img{
        width: 100%;
        height: 180px;
        border-radius: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .listing_info .types{
       margin-left: 20px;
    }

 
    .listing_info .row{
        align-items: left;
        justify-content: left;
        font-size: 14px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .card_btn{
        margin-left:40px;
    }
}