.header__container{
    background-color: #030c2b;
}
.add-hotel-breadcrumb {
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
.add-hotel-breadcrumb .active{
    margin-left: 25px;
}
.add-hotel-breadcrumb .breadcrumb_link{
    color:#fa133a;
    text-decoration: none;
    background-color: #030c2b;
    border-top: 1px solid #fa133a;
    padding: 13px;
    margin-left:-17px;
}

.add-hotel-breadcrumb .breadcrumb_link::before{
    border-bottom: 20px solid red;
    border-left: 48px solid transparent;
    border-right: 25px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left:40px;
    top: 3px;
    width: 0;
    transform: rotateZ(90deg);
}

.add-hotel-breadcrumb li.agent{
    color: #fa133a;
   margin-left: 60px;
}